*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

.title{
  font-size: 3rem;
  margin:6vh;
  border: 7px dashed rgb(1, 17, 160);
}